

<div class="row">
    <div class="col-sm-2">
        <span>{{order.orderId}}</span>
    </div>
    <div class="col-sm-3">
        <span>{{order.created}}</span>
    </div>
    <div class="col-sm-3">
        <span class="text-success font-weight-bold">{{order.status}}</span>
    </div>
    <div class="col-sm-2">
        <span class="text-danger font-weight-bold">{{order.total}}</span>
    </div>
    <div class="col-sm-2">
        <input type="button" class="btn btn-danger" value="Cancel">
    </div>
</div>