.productsContainer{
    margin: 30px 0px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.product{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}